.top{
    background: grey;
    text-align: right;
    margin-top: 30px;
    height: 70px;
    color: white;
    font-size: 5rem;
    margin-bottom: 0px;
}

.cc{
    height: 60px;
    background: rgb(211, 207, 207);
    border: 1px solid grey;
    border-left: none;
    border-right: ;
    text-align: center;
    font-size: 3rem;
    color: black;
    
}
.lc{
    height: 60px;
    background: orange;
    border: 1px solid grey;
    border-left: 0px;
    border-right: none;
    text-align: center;
    font-size: 3rem;
    color: rgb(255, 255, 255);
    
}

.bc{
    border: none;
    
}